## Settings file was created by plugin Infinite Party Popper v1.0.0
## Plugin GUID: com.h3nw.infinitepopper

[General]

## Enable infinite party popper uses.
# Setting type: Boolean
# Default value: true
Enabled = true

