## Settings file was created by plugin Film Increaser v1.0.0
## Plugin GUID: com.river.filmincreaser

[General]

## The maximum length of the film in seconds. Default is 300 (5 minutes). Game default is 90.
# Setting type: Single
# Default value: 90
MaxFilmLength = 180

